<app-menu></app-menu>
<div class="container" style="max-width: 90%;">
    <div class="container py-5">        
    </div>

    <div class="row">
        <div class="col-8"><h1>(Nombre del capitulo)</h1></div>
        <div class="col-4"><form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="#Capitulo" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form></div>
      </div>

      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <!-- los nav-item aumentan o disminuyen segun la cantidad de articulos que contenga el capitulo -->
            <li class="nav-item col">
                <button class="btn btn-outline-primary" id="Articulo1">Articulo x1</button>
            </li>
            <li class="nav-item col">
                <button class="btn btn-outline-primary" id="Articulo2">Articulo x2</button>
            </li>
            <li class="nav-item col">
                <button class="btn btn-outline-primary" id="Articulo3">Articulo x3</button>
            </li>
            <li class="nav-item col">
                <button class="btn btn-outline-primary" id="Articulo1">Articulo x1</button>
            </li>
            <li class="nav-item col">
                <button class="btn btn-outline-primary" id="Articulo2">Articulo x2</button>
            </li>
            <li class="nav-item col">
                <button class="btn btn-outline-primary" id="Articulo3">Articulo x3</button>
            </li>
            <li class="nav-item col">
                <button class="btn btn-outline-primary" id="Articulo3">Articulo x1</button>
            </li>
          </ul>
        </div>
        <div class="card-body bckColor">
          <h5 class="text-light">(Nombre del articulo, sacarlo de la base de datos)</h5>
          <p class="text-light">(Texto del articulo, sacarlo de la base de datos)</p>
        </div>
      </div>

      <footer class="text-center footerM" style="background-color:#509593;">
    </footer>
</div>
